.continer_form {
  width: 100%;
  padding: 30px;
  max-width: 500px;
  background-color: rgb(217, 217, 217);
  margin: 0 auto;
  margin-top: 100px;
  padding-bottom: 50px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.inp {
  height: 35px;
  border-radius: 6px;
  border: 0;
  outline: 0;
  padding: 10px;
}
button {
  width: 100%;
}
