.navbar {
  padding: 40px;
  background: rgb(198, 198, 198);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.navbar h1 {
  cursor: pointer;
  font-size: 26px;
}
h1:hover {
  color: red;
}
